<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>410962667981-j95v468cbgrt6t81vq6c3e9ij6n3s4bs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.410962667981-j95v468cbgrt6t81vq6c3e9ij6n3s4bs</string>
	<key>API_KEY</key>
	<string>AIzaSyDzzT3GCL3XKcGUPHItSwtagnF3AdMV2Hw</string>
	<key>GCM_SENDER_ID</key>
	<string>410962667981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodNijaApplication</string>
	<key>PROJECT_ID</key>
	<string>food-ninja-app-66fcd</string>
	<key>STORAGE_BUCKET</key>
	<string>food-ninja-app-66fcd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:410962667981:ios:6e1b383f238c9ca7bdfc84</string>
</dict>
</plist>